.HomePageButton {
  /*   position: absolute; */
    /* z-index: 10; */
   /*  top: 95%;
    left: 5%; */
    background-color: #702fb9;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 8px;
    width: 15%;
    border-radius: 30px;
    position: absolute;
    top: 72%;
    left: 13%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
    text-align: center;
}

.HomePageButton:hover {
    background-color: #34a612;
}
