/* .diff-bg {
    z-index: 1;
}

.diff-txt {
    z-index: 100;

    .intro-txt-1 {
        color: yellow;
        z-index: 100;
    }
   
} */

.diff-img-1,
.diff-img-2 {
    
    width: 100%;
    height: 100%;
    
}

.diff-bg-purple {
    background-color: #180344;
    
}

/* .diff {
    display: flex;
}

.diff-item-1,
.diff-item-2 {
    
    flex-basis: 50%;
} */