* {
    box-sizing: border-box;
  }
  
body {
   overflow-x: hidden;
   font-family: 'Comfortaa', sans-serif;

    .slider-container {
        position: relative;
        width: 100%;
    }

    .slider-component{
        width: 100%;
        height: auto;
    }
}
