.helloContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;




    .helloUser {
       
        font-weight: bold;
        margin-bottom: 1rem;

    }

}

.alert {
    background-color: #662eb5 ;
    color: white;
    font-weight: bold;
}

